@import '~styles/utils.scss';

$desktop-width: 625px;

.postDetailWrapper {
  margin-left: auto;
  margin-right: auto;
  width: $desktop-width;
  margin-top: 1.85rem;
  padding: 1.25rem;

  @include media('<medium') {
    margin-left: 0rem;
    margin-right: 0rem;

    width: 100%;
    padding: 0;
  }

  display: flex;
  flex-direction: column;

  .postDetailTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: $oc-blue-9;

    @include media('<medium') {
      font-size: 1.25rem;
      font-weight: 800;
    }
  }

  .postDetailDate {
    margin-left: auto;
    margin-top: 1rem;
    font-weight: 450;

    @include media('<medium') {
      margin-right: 1rem;
    }
  }

  .postDetailMarkdown {
    @include media('<medium') {
      word-break: break-all;
    }
    a {
      transition: color 0.5s ease;
      color: $oc-blue-8;
      font-weight: 700;

      &:hover {
        color: $oc-blue-9;
      }
    }

    img {
      max-width: $desktop-width;
      @include media('<medium') {
        max-width: 100%;
      }
    }

    blockquote {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;

      margin-left: 0rem;
      margin-right: 0rem;

      border-left: 8px solid $oc-blue-5;
      border-radius: 3px;
      background: $oc-gray-3;
    }

    // pre {
    //   background: $oc-gray-9;
    //   padding: 1rem;
    //   code {
    //     color: white;
    //     width: 100%;
    //     .language-html {
    //     }
    //   }
    // }
  }

  .tagsWrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .tagsTitle {
      background: $oc-gray-4;
      padding: 0.5rem;
      border-left: 8px solid $oc-blue-5;
      border-radius: 3px;
      font-size: 2rem;
      font-weight: 600;

      margin-bottom: 1rem;

      @include media('<medium') {
        font-size: 1.25rem;
      }
    }

    .tag {
      font-size: 1.15rem;
      text-decoration: underline;
      color: $oc-blue-5;
    }

    .tag + .tag {
      margin-top: 0.35rem;
    }
  }
}
