@import '~styles/utils.scss';

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

  .button {
    // &.left {
    // }
    background: $oc-blue-7;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background: $oc-blue-8;
    }

    &:active {
      background: $oc-blue-7;
    }

    &.right {
      margin-left: auto;
    }

    &.disabled {
      background: $oc-gray-7;
      cursor: default;
    }
  }

  .center {
    flex: 1;
    text-align: center;
  }
}
